[user]
    email = murata@kmc.gr.jp
    name = murata
#[include]
#    path = ~/.gituser
#[filter "media"]
#    clean = git-media-clean %f
#    smudge = git-media-smudge %f
#[merge]
#    ff = false
[color]
    ui = auto
[alias]
    # 省略操作系
    a = add -A
    c = commit -m
    ca = commit --amend -m
    p = push
    po = push origin
    pom = push origin master
    pl = pull #--rebase
    plo = pull origin #--rebase
    plom = pull origin master #--rebase
    co = checkout
    # 省略確認系
    s = status --short
    b = branch
    l = log
    d = diff --color-words --ignore-blank-lines -w
    # 分かりやすさ優先 (ref:https://postd.cc/human-git-aliases/)
    ## リストアップ系
    tags = tag
    stashes = stash list
    remotes = remote -v
    branches = branch -a --sort=committerdate
    contributors = shortlog -s -n --no-merges
    aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /
    ## ブランチ操作系
    new-branch = checkout -b
    rename-branch = branch -m
    delete-branch = branch -d # マージ済みのもののみ
    back-branch = checkout "@{-1}"
    delete-all-branches = !git branch --merged  | grep -v \\* | xargs -I % git branch -d %
    # 特定ファイルのみ操作系
    trail-file = log --follow -p -w
    trail-file-short = log --follow -w
    reset-file = checkout HEAD --
    ignore-file = rm --cached
    rename-file = mv
    ## ステージング系
    unadd = reset -q HEAD --
    diff-add = diff
    ## コミット系
    uncommit = reset --mixed HEAD~
    diff-commit = diff --cached --diff-algorithm=minimal -w
    # マージ系
    unmerged = diff --name-only --diff-filter=U
    diff-merge = log --ancestry-path --merges
    ## その他
    #show # 最新の一件のコメント表示
    #rebase # コミット履歴を変更
    patch = add --patch # 一ファイル内で分割してaddできる
    unstash = stash pop # stashで退避したものを戻す
    cherrypick = cherry-pick #特定のコミットIDのもののみ反映
    clean-all = !git reset --hard HEAD && git clean -d -f # 変更完全削除
    history = log -10 --format=format:'%Cgreen%h %Creset%s (%aN, %ar)' # 代替 tig
[diff]
    compactionHeuristic = true
    indentHeuristic = true
    algorithm = patience
[interactive]
    diffFilter = diff-highlight
[core]
    pager = less
    autocrlf = input
    excludesfile = ~/.gitignore
[browse-remote "github.com"]
    top = https://{host}/{path}
    ref = https://{host}/{path}/tree/{short_ref}
    rev = https://{host}/{path}/commit/{commit}
    pr = https://{host}/{path}/pull/{short_ref}
    file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
