[user]
    email = murata@kmc.gr.jp
    name = murata
#[include]
#    path = ~/.gituser
#[filter "media"]
#    clean = git-media-clean %f
#    smudge = git-media-smudge %f
[merge]
    ff = false
[color]
    ui = auto
[alias]
    a = add -A
    b = branch
    c = commit -m
    d = diff --color-words --ignore-blank-lines -w
    l = log
    p = push
    pl = pull
    s = status --short
    po = push origin
    pom = push origin master
    plo = pull origin
    plom = pull origin master
    ls = log --stat
    co = checkout
    cob = checkout -b
    com = checkout master
    resetfile = checkout HEAD --
    ac = commit -am
    au = add -u # 新規ファイル以外 add
    ca = commit --amend -m #直前のコミットに修正を追加
    cp = cherry-pick #特定のコミットIDのもののみ反映
    dc = diff --cached #commitで反映される変更を表示
    br = browse-remote
    #pp = pull --prune
    #sta = stash
    #ap = add -p
[core]
    pager = less
    autocrlf = input
    excludesfile = ~/.gitignore
[browse-remote "github.com"]
    top = https://{host}/{path}
    ref = https://{host}/{path}/tree/{short_ref}
    rev = https://{host}/{path}/commit/{commit}
    pr = https://{host}/{path}/pull/{short_ref}
    file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
